@page
 @model WebApplication1.Pages.teamModel
@{
    ViewData["Title"] = "Our Team";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/team.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="teamContainer">
        <h1>@ViewData["Title"]</h1>
        <h3>Meet Balay na Homes'Amazing Team Memembers!</h3>
        <div class="teamImage">
            <a href="~/images/us.png">
                <img src="~/images/us.png" alt="Jingle Otome Decierdo" />
            </a>
            <p><b>Jingle Otome Decierdo</b> | Student, 22, Future DrugLord</p>
        </div>

        <div class="teamImage">
            <a href="~/images/us.png">
                <img src="~/images/us.png" alt="Carla Nuevo Hacuman" />
            </a>
            <p><b>Carla Nuevo Hacuman</b> | Student, 20, Fast pa sa speed ma inlove</p>
        </div>

        <div class="teamImage">
            <a href="~/images/us.png">
                <img src="~/images/us.png" alt="John No. 1 Bajenting" />
            </a>
            <p><b>John No. 1 Bajenting</b> | Student, 21, 6485913 GB Ang Capacity sa Brain</p>
        </div>

        <div class="teamImage">
            <a href="~/images/us.png">
                <img src="~/images/us.png" alt="John No. 2 Bonbon" />
            </a>
            <p><b>John No. 2 Bonbon</b> | Student, 21, 3 years ng Minor</p>
        </div>

        <div class="teamImage">
            <a href="~/images/us.png">
                <img src="~/images/us.png" alt="John No. 3 Gorzon" />
            </a>
            <p><b>John No. 3 Gorzon</b> | Student, 60, Oldest, like Pang Senior na level </p>
        </div>
    </div>
</body>
