@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)50%), url(../images/background1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

nav .logo {
    font-family: "Pacifico", serif;
    font-size: 20px;
    display: flex;
}

    nav .logo a {
        text-decoration: none;
        color: white;
        box-shadow: inset 0 0 0 0 rgba(183, 193, 172, 1);
        margin: 0 -.25rem;
        padding: .20rem .20rem;
        transition: color .6s ease-in-out, box-shadow .3s ease-in-out;
    }

        nav .logo a:hover {
            box-shadow: inset 200px 0 0 0 white;
            color: black;
            height: 45px;
        }


/*   Login Form  392.5px HEIGHT */

.form {
    width: 100%;
    max-width: 300px;
    height: auto;
    background: linear-gradient(150deg, rgba(255,255,255,0.5), rgba(60,60,60,0.9));
    box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.5); /* Added blur and darker shadow */
    position: relative;
    top: 23%;
    left: 42.2%;
    border-radius: 25px;
    padding: 25px;
    box-sizing: border-box; /* Ensures padding doesn't add to the width/height */
}

    .form h2 {
        width: 200px;
        font-family: "Poppins", serif;
        font-weight: 500;
        text-align: center;
        margin: 0 20px;
        padding: 8px;
        color: #fff;
        /*
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    color: transparent;
    background-clip: text;
    */
    }

    .form input {
        width: 100%; /* Make input fields take full width */
        max-width: 240px; /* Limiting max width */
        height: 35px;
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-size: 12px;
        letter-spacing: 1px;
        top: 50%;
        margin-top: 25px;
        margin-right: 5px;
        padding-left: 10px;
        font-family: "Poppins", serif;
    }

        .form input:focus {
            outline: none;
        }

        /* Remove the background color when the field is autofilled */

        .form input::-webkit-input-placeholder {
            color: #fff; /* Change placeholder text color */
            font-family: "Poppins", serif; /* Change placeholder text font */
            font-size: 12px; /* Adjust font size of the placeholder */
        }

        .form input:focus:-webkit-autofill {
            background-color: transparent !important; /* Make sure autofill is transparent */
            box-shadow: 0 0 0 30px transparent inset !important; /* Remove shadow */
        }

::placeholder {
    color: #fff;
    font-family: "Poppins", serif;
}

.btn {
    width: 100%;
    max-width: 240px; /* Limiting max width */
    height: 40px;
    background: white;
    border: none;
    margin: 30px 0;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

    .btn:hover {
        opacity: 0.8;
        color: black;
    }

button {
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: black;
}

    .form .link a {
        text-decoration: none;
        color: rgba(191, 191, 191, 1);
    }

        .form .link a:hover {
            color: rgb(0, 0, 0);
        }


/* Footer */

footer {
    background: linear-gradient(150deg, rgba(183, 193, 172, 1), rgba(122,122,122), rgba(149, 165, 166, 1));
    font-family: "Poppins", serif;
    margin-top: 480px;
}

.footerContainer {
    width: 100%;
    padding: 30px 15px 15px;
}

.footerIcons {
    display: flex;
    justify-content: center;
}

    .footerIcons a {
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }

        .footerIcons a i {
            font-size: 1.5em;
            color: black;
            opacity: 0.9;
            padding: 2px;
        }

        .footerIcons a:hover {
            background-color: #111;
            transition: 0.5s;
        }

            .footerIcons a:hover i {
                color: white;
                transition: 0.5s ease-in-out;
            }

.footerNav {
    margin: 20px 0;
}

    .footerNav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

        .footerNav ul li a {
            color: black;
            margin: 20px;
            text-decoration: none;
            font-size: 1em;
            opacity: 0.7;
            transition: 0.5s ease-in-out;
        }

            .footerNav ul li a:hover {
                color: rgba(191, 191, 191, 1);
            }

.footerLetter {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .footerLetter p {
        color: white;
        font-size: 1em;
    }

.team {
    font-family: "Playfair Display SC", serif;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Para Respond */

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column; /* Stack footer nav items vertically */
    }

        .footerNav ul li {
            width: 100%; /* Ensure footer list items take up full width */
            text-align: center; /* Center the footer items */
            margin: 10px 0; /* Add margin between footer items */
        }
}
